header{
    text-align: right;
}
h1{    
    font-size: 14px;
}
h3{
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    text-indent: 20px;
}
article{
    font-family: 'Dancing Script', cursive;
    font-weight: 400    

}
article p{
    font-size: 14px;
    text-indent: 20px;
}
